<div class="inner cover">
  <h1 class="cover-heading">Welcome</h1>
  <p class="lead">I'm a full stack engineer that specializes in working with Ruby on Rails, and I live in the mountains of Colorado where I enjoy mountain biking and skiing. I really enjoy working with ruby, ruby on rails, javascript, react and learning new technologies. Thanks for checking out my site and feel free to say hello.</p>
  <p class="lead">
    <%= link_to 'About Me', about_path, class: "btn btn-lg btn-secondary" %>
  </p>
</div>